USE [oes]
GO
/****** Object:  Table [dbo].[result]    Script Date: 12/10/2016 16:34:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[result](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[exam_id] [int] NOT NULL,
	[answer_str] [varchar](256) NULL,
	[score] [int] NOT NULL,
 CONSTRAINT [PK_result] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[result]  WITH CHECK ADD  CONSTRAINT [FK_RESULT_EXAMID] FOREIGN KEY([exam_id])
REFERENCES [dbo].[exam] ([id])
GO
ALTER TABLE [dbo].[result] CHECK CONSTRAINT [FK_RESULT_EXAMID]
GO
ALTER TABLE [dbo].[result]  WITH CHECK ADD  CONSTRAINT [FK_RESULT_USERID] FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[result] CHECK CONSTRAINT [FK_RESULT_USERID]
GO
